<div>
  <nav>
    <mat-toolbar color="primary">
      <a>
        <span routerLink="/home" routerLinkActive="active">Advent of code</span>
      </a>
      <a mat-stroked-button routerLink="/home" routerLinkActive="active">Home</a>
      <button mat-button [matMenuTriggerFor]="menu">AoC</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/aoc/1.1" routerLinkActive="active">1.1</button>
        <button mat-menu-item routerLink="/aoc/1.2" routerLinkActive="active">1.2</button>
        <button mat-menu-item routerLink="/aoc/2.1" routerLinkActive="active">2.1</button>
        <button mat-menu-item routerLink="/aoc/2.2" routerLinkActive="active">2.2</button>
        <button mat-menu-item routerLink="/aoc/" routerLinkActive="active">3.1</button>
        <button mat-menu-item routerLink="/aoc/" routerLinkActive="active">3.2</button>
        <button mat-menu-item routerLink="/aoc/" routerLinkActive="active">4.1</button>
        <button mat-menu-item routerLink="/aoc/" routerLinkActive="active">4.2</button>
      </mat-menu>
    </mat-toolbar>
  </nav>
</div>

<router-outlet></router-outlet>